[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/local/webstorm/bin/webstorm.sh
Icon=/usr/local/webstorm/bin/webstorm.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=WebStorm
Comment=WebStorm IDE
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=/root
